<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>true</includeMdc>
            <shortenedLoggerNameLength>36</shortenedLoggerNameLength>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT_JSON" />
    </root>

    <logger name="com.learn.order" level="DEBUG" />
    <logger name="org.apache.kafka" level="WARN" />
</configuration>
